* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.box {
  width: 100%;
  height: 71px;
  background: url(https://weatherstack.com/site_images/mountains.svg), linear-gradient(135deg, #1f4e69 0, #164058 100%), center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box .container {
  position: relative;
  height: 71px;
}
.container {
  width: 1170px;
  height: 800px;
  margin: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  font-family: sans-serif;
}
.nav .menu {
  display: flex;
  justify-content: space-evenly;
  width: 580px;
  align-items: center;
}
.nav .menu li a {
  color: white;
}
.nav .menu li a:hover {
  text-decoration: underline;
}
.nav .menu li:nth-child(5)::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #47c652;
  border-radius: 25px;
  margin-right: 8px;
}
.nav .menu .logIn {
  background: rgba(255, 255, 255, 0.15);
  padding: 0 10px;
  border-radius: 3px;
  line-height: 34px;
  font-size: 13px;
}
.nav .menu .signUp {
  background: #f47b21;
  color: #fff;
  text-transform: uppercase;
  padding: 0px 10px;
  line-height: 34px;
  font-size: 13px;
}
.hero {
  padding: 95px 0 70px;
  margin-bottom: 0;
  text-align: center;
  background: #244f67;
  color: #fff;
  font-family: sans-serif;
  height: 116px;
}
.hero .container {
  height: 116px;
}
.hero .container h2 {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 32px;
}
.hero .container h3 {
  line-height: 22px;
  font-size: 15px;
  max-width: 550px;
  margin: 0 auto;
  font-weight: 200;
}
.faq {
  height: 700px;
  padding: 40px 0 45px;
  font-family: sans-serif;
}
.faq .container {
  height: 700px;
  padding: 0 15px;
}
.faq .container .topic {
  max-width: 960px;
  margin: 0 auto 35px;
}
.faq .container .topic h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #949494;
  font-weight: 300;
}
.faq .container .topic ul li .question {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #dedee1;
  cursor: pointer;
}
.faq .container .topic ul li .question a {
  color: #000000;
}
.faq .container .topic ul li .question::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 2px;
  top: 50%;
  right: 15px;
  margin-top: -1px;
  background: #aaadb1;
}
.faq .container .topic ul li .question::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 12px;
  top: 50%;
  right: 20px;
  margin-top: -6px;
  background: #aaadb1;
}
.ctaBox {
  background-color: #eef2f5;
  font-family: sans-serif;
  text-align: center;
  padding: 45px 30px 50px 30px;
  height: 21.5px;
  position: relative;
}
.ctaBox .container {
  height: 21.5px;
}
.ctaBox .cta_text {
  font-weight: 500;
  font-size: 17px;
}
.ctaBox .arrow_right {
  font-weight: 300;
  position: absolute;
  top: 43px;
  left: 63%;
}
.ctaBox a {
  background: #f47b21;
  padding: 17px 15px;
  border-radius: 3px;
  font-size: 13px;
  color: #fff;
  margin-left: 50px;
}
footer {
  background-color: #184157;
  color: #fff;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 200;
  padding: 70px 0px;
  line-height: 30px;
  height: 400px;
}
footer .container {
  height: 400px;
}
footer .container .upper_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .container .upper_footer .left_footer {
  width: 308px;
  height: 190px;
}
footer .container .upper_footer .left_footer .social div {
  margin: 0 3px;
}
footer .container .upper_footer .left_footer .social div,
footer .container .upper_footer .left_footer footer ul {
  display: inline-block;
}
footer .container .right_footer1,
footer .container .right_footer2,
footer .container .right_footer3,
footer .container .right_footer4 {
  width: 196px;
  height: 190px;
}
footer .container .right_footer1 a,
footer .container .right_footer2 a,
footer .container .right_footer3 a,
footer .container .right_footer4 a {
  color: #fff;
}
footer .container .bottom_footer {
  text-align: center;
  margin: 70px 0 15px 0;
  letter-spacing: 1px;
}
footer .container .bottom_footer a {
  color: #fff;
}
